<h1><%=@game.title%></h1>

<br>
<h2>Description:</h2>
<p><%=@game.description%></p>

<br>
<h2>Goals:</h2>
<p><%=@game.goal%></p>

<br>
<h2>Rules:</h2>
<p><%=@game.rules%></p>

<br>
<h2>Safety:</h2>
<p><%=@game.safety%></p>

<br>
<h2>Debrief Topics: </h2>
<p><%=@game.debrief_topic%></p>

<br>
<h2>Time For Game: </h2>
<p><%=@game.time%></p>

<br>
<h5>Added by <%=@game.user.username%></h5>


<!--Log Out  -->
<br>
<form method="post" action="/logout">
  <input id="hidden" type="hidden" name "_method" value="patch">
  <input type="submit" value="Log out">
</form>
