<h1><%=@game.title%></h1>

<br>
<h2>Description:</h2>
<p><%=@game.description%></p>

<br>
<h2>Goals:</h2>
<p><%=@game.goal%></p>

<br>
<h2>Rules:</h2>
<p><%=@game.rules%></p>

<br>
<h2>Safety:</h2>
<p><%=@game.safety%></p>

<br>
<h2>Debrief Topics: </h2>
<p><%=@game.debrief_topic%></p>

<br>
<h2>Time For Game: </h2>
<p><%=@game.time%></p>

<br>
<h5><a href="/users/<%=@game.user.slug%>">Added by <%=@game.user.username%></a></h5>

<!-- Link to edit game -->
